// Custom styles.

//文章内链接文本样式
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection {
  background: #8959a8;
  color: #f7f7f7;
}
/* firefox */
::-moz-selection {
  background: #00c4b6;
  color: #f7f7f7;
}

//文章目录默认展开
.post-toc .nav { display: block; }
//目录字体大小调整
.post-toc ol {
  font-size : 13px;
}

Hexo博客NexT主题美化之网站标题栏背景变色
.site-meta {
  background: $highlight_theme;
}

//page code background-color
.code ::selection {
  background: #2593a6;
  color: #fff;
}


//gitalk code background-color
.gt-container .gt-comment-content .highlight pre, .markdown-body pre{
  background-color: #2d2d2d;
}
.gt-container .gt-comment-content .highlight ::selection {
  background: #2593a6;
  color: #fff;
}

  //添加背景图片
@media screen and (min-width:1200px) {

  body {
    background-image:url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
  }

  #footer a {
    color:#eee;
  }
}

//添加代码：
.headband {display:none;}
//保存刷新发现黑边没有了。

// 鼠标移动至文章标题时的效果
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #49b1f5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

